.synopsis-wrapper .synopsis-container {
  width: 1180px;
  margin: 0 auto;
}
.synopsis-wrapper .synopsis-container:after {
  content: '';
  display: table;
  clear: both;
  width: 100%;
  height: 0;
}
.synopsis-wrapper .synopsis-container .synopsis {
  background-color: #fff;
}
.synopsis-wrapper .synopsis-container .synopsis:after {
  content: '';
  display: table;
  clear: both;
  width: 100%;
  height: 0;
}
.synopsis-wrapper .synopsis-container .synopsis .img-wrapper {
  float: left;
  overflow: hidden;
}
.synopsis-wrapper .synopsis-container .synopsis .img-wrapper img {
  max-width: 100%;
}
.synopsis-wrapper .synopsis-container .synopsis .txt-wrapper {
  float: right;
}
.synopsis-wrapper .synopsis-container .synopsis .txt-wrapper .txt-title {
  font-family: PingFangSC-Medium;
  color: #333;
  text-align: left;
}
.synopsis-wrapper .synopsis-container .synopsis .txt-wrapper .txt-content {
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #666;
  text-align: left;
  line-height: 24px;
}
.synopsis-wrapper .synopsis-container .synopsis.synopsis-lg {
  padding: 37px 90px 39px;
  margin-bottom: 20px;
}
.synopsis-wrapper .synopsis-container .synopsis.synopsis-lg .img-wrapper {
  width: 420px;
  height: 240px;
  overflow: hidden;
}
.synopsis-wrapper .synopsis-container .synopsis.synopsis-lg .txt-wrapper {
  width: 540px;
}
.synopsis-wrapper .synopsis-container .synopsis.synopsis-lg .txt-wrapper .txt-title {
  font-size: 24px;
}
.synopsis-wrapper .synopsis-container .synopsis.synopsis-md {
  padding: 35px 25px 30px 40px;
  margin-left: 20px;
  margin-bottom: 30px;
  width: 580px;
  height: 180px;
  float: left;
}
.synopsis-wrapper .synopsis-container .synopsis.synopsis-md:first-child {
  margin-left: 0;
}
.synopsis-wrapper .synopsis-container .synopsis.synopsis-md .img-wrapper {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 100%;
}
.synopsis-wrapper .synopsis-container .synopsis.synopsis-md .txt-wrapper {
  width: 345px;
}
.synopsis-wrapper .synopsis-container .synopsis.synopsis-md .txt-wrapper .txt-title {
  font-size: 18px;
  margin: 0;
}
.news-wrapper .news-container.region-news-container {
  width: 1180px;
  margin: 0 auto 30px;
}
.news-wrapper .news-container.region-news-container:after {
  content: '';
  display: table;
  clear: both;
  width: 100%;
  height: 0;
}
.news-wrapper .news-container.region-news-container .news-left {
  float: left;
  width: 780px;
}
.news-wrapper .news-container.region-news-container .news-left .news-left__nav {
  background-color: #fff;
  margin-bottom: 11px;
}
.news-wrapper .news-container.region-news-container .news-left .news-left__nav:after {
  content: '';
  display: table;
  clear: both;
  width: 100%;
  height: 0;
}
.news-wrapper .news-container.region-news-container .news-left .news-left__nav .news-left__nav_left {
  float: left;
}
.news-wrapper .news-container.region-news-container .news-left .news-left__nav .news-left__nav_left ul:after {
  content: '';
  display: table;
  clear: both;
  width: 100%;
  height: 0;
}
.news-wrapper .news-container.region-news-container .news-left .news-left__nav .news-left__nav_left ul li {
  float: left;
  text-align: center;
  position: relative;
}
.news-wrapper .news-container.region-news-container .news-left .news-left__nav .news-left__nav_left ul li a {
  display: block;
  font-family: PingFangSC-Regular;
  font-size: 18px;
  color: #333;
  padding: 10px 21px;
}
.news-wrapper .news-container.region-news-container .news-left .news-left__nav .news-left__nav_left ul li:hover a,
.news-wrapper .news-container.region-news-container .news-left .news-left__nav .news-left__nav_left ul li.active a {
  color: #396;
}
.news-wrapper .news-container.region-news-container .news-left .news-left__nav .news-left__nav_left ul li:hover:after,
.news-wrapper .news-container.region-news-container .news-left .news-left__nav .news-left__nav_left ul li.active:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #396;
  left: 0;
  bottom: 0;
}
.news-wrapper .news-container.region-news-container .news-left .news-left__nav .news-left__nav_right {
  float: right;
  position: relative;
}
.news-wrapper .news-container.region-news-container .news-left .news-left__nav .news-left__nav_right .txt {
  position: relative;
  padding: 10px 21px;
  display: block;
  font-family: PingFangSC-Regular;
  font-size: 18px;
  color: #333;
  margin-right: 10px;
}
.news-wrapper .news-container.region-news-container .news-left .news-left__nav .news-left__nav_right .icon-arrow-down {
  position: absolute;
  background-image: url(../../images/sprite-icons.png);
  background-position: -55px -50px;
  width: 16px;
  height: 8px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: all 0.1s ease-in 0.2s;
  -moz-transition: all 0.1s ease-in 0.2s;
  -ms-transition: all 0.1s ease-in 0.2s;
  -o-transition: all 0.1s ease-in 0.2s;
  transition: all 0.1s ease-in 0.2s;
  top: 50%;
  margin-top: -4px;
  right: 20px;
}
.news-wrapper .news-container.region-news-container .news-left .news-left__nav .news-left__nav_right .dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  background: #ffffff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  width: 250px;
  z-index: 1;
}
.news-wrapper .news-container.region-news-container .news-left .news-left__nav .news-left__nav_right .dropdown-menu ul {
  padding: 15px 0;
}
.news-wrapper .news-container.region-news-container .news-left .news-left__nav .news-left__nav_right .dropdown-menu ul li {
  text-align: center;
  padding: 0 10px;
}
.news-wrapper .news-container.region-news-container .news-left .news-left__nav .news-left__nav_right .dropdown-menu ul li a {
  display: block;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #666;
  text-align: center;
  line-height: 40px;
}
.news-wrapper .news-container.region-news-container .news-left .news-left__nav .news-left__nav_right .dropdown-menu ul li:hover,
.news-wrapper .news-container.region-news-container .news-left .news-left__nav .news-left__nav_right .dropdown-menu ul li.active {
  background-color: #eee;
}
.news-wrapper .news-container.region-news-container .news-left .news-left__nav .news-left__nav_right .dropdown-menu ul li:hover a,
.news-wrapper .news-container.region-news-container .news-left .news-left__nav .news-left__nav_right .dropdown-menu ul li.active a {
  font-size: 16px;
  color: #396;
}
.news-wrapper .news-container.region-news-container .news-left .news-left__nav .news-left__nav_right:hover .icon-arrow-down {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.news-wrapper .news-container.region-news-container .news-left .news-left__nav .news-left__nav_right:hover .dropdown-menu {
  display: block;
}
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module01 ul li,
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module02 ul li,
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module03 ul li,
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module04 ul li {
  background-color: #fff;
  margin-bottom: 12px;
  padding: 9px 12px;
}
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module01 ul li:hover,
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module02 ul li:hover,
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module03 ul li:hover,
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module04 ul li:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module01 ul li:after,
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module02 ul li:after,
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module03 ul li:after,
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module04 ul li:after {
  content: '';
  display: table;
  clear: both;
  width: 100%;
  height: 0;
}
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module01 ul li .img-wrapper,
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module02 ul li .img-wrapper,
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module03 ul li .img-wrapper,
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module04 ul li .img-wrapper {
  float: left;
  width: 240px;
  height: 152px;
  overflow: hidden;
}
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module01 ul li .img-wrapper img,
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module02 ul li .img-wrapper img,
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module03 ul li .img-wrapper img,
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module04 ul li .img-wrapper img {
  max-width: 100%;
}
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module01 ul li .txt-wrapper,
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module02 ul li .txt-wrapper,
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module03 ul li .txt-wrapper,
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module04 ul li .txt-wrapper {
  float: right;
  width: 505px;
}
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module01 ul li .txt-wrapper .txt-title,
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module02 ul li .txt-wrapper .txt-title,
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module03 ul li .txt-wrapper .txt-title,
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module04 ul li .txt-wrapper .txt-title {
  height: 54px;
  margin: 0;
  overflow: hidden;
}
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module01 ul li .txt-wrapper .txt-title .txt,
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module02 ul li .txt-wrapper .txt-title .txt,
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module03 ul li .txt-wrapper .txt-title .txt,
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module04 ul li .txt-wrapper .txt-title .txt {
  font-family: PingFangSC-Semibold;
  font-size: 20px;
  color: #333;
}
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module01 ul li .txt-wrapper .label-lists,
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module02 ul li .txt-wrapper .label-lists,
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module03 ul li .txt-wrapper .label-lists,
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module04 ul li .txt-wrapper .label-lists {
  padding: 4px 0;
  font-size: 0;
}
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module01 ul li .txt-wrapper .label-lists .txt,
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module02 ul li .txt-wrapper .label-lists .txt,
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module03 ul li .txt-wrapper .label-lists .txt,
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module04 ul li .txt-wrapper .label-lists .txt {
  cursor: default;
  font-family: PingFangSC-Regular;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #fff;
  margin-right: 10px;
  height: 20px;
  padding: 0 10px;
  border-radius: 10px;
}
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module01 ul li .txt-wrapper .txt-content,
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module02 ul li .txt-wrapper .txt-content,
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module03 ul li .txt-wrapper .txt-content,
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module04 ul li .txt-wrapper .txt-content {
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #999;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module02,
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module03,
.news-wrapper .news-container.region-news-container .news-left .news-left__con .news-left__module04 {
  display: none;
}
.news-wrapper .news-container.region-news-container .news-left .btn-group {
  background-color: #fff;
  overflow: hidden;
}
.news-wrapper .news-container.region-news-container .news-left .btn-group .btn-enter {
  display: block;
  background: #339966;
  border-radius: 23px;
  width: 300px;
  height: 46px;
  font-family: PingFangSC-Medium;
  font-size: 20px;
  line-height: 46px;
  color: #ffffff;
  letter-spacing: 10px;
  text-align: center;
  margin: 12px auto;
}
.news-wrapper .news-container.region-news-container .news-right {
  float: right;
  width: 380px;
  padding: 18px 0;
  background-color: #fff;
}
.news-wrapper .news-container.region-news-container .news-right:before {
  content: attr(data-before);
  display: block;
  font-family: PingFangSC-Medium;
  font-size: 20px;
  color: #333;
  text-align: center;
  border-top: 4px solid #396;
  border-bottom: 1px dotted #979797;
  margin: 0 40px;
  line-height: 40px;
  letter-spacing: 10px;
}
.news-wrapper .news-container.region-news-container .news-right ul li {
  position: relative;
  padding: 28px 40px;
}
.news-wrapper .news-container.region-news-container .news-right ul li:after {
  content: '';
  position: absolute;
  height: 1px;
  background-color: #eee;
  left: 40px;
  right: 40px;
  bottom: 0;
}
.news-wrapper .news-container.region-news-container .news-right ul li .txt-title {
  text-align: left;
  height: 62px;
  overflow: hidden;
  margin: 0;
  font-weight: lighter;
  line-height: 20px;
}
.news-wrapper .news-container.region-news-container .news-right ul li .txt-title .txt {
  font-family: PingFangSC-Medium;
  font-size: 16px;
  color: #666;
  cursor: default;
}
.news-wrapper .news-container.region-news-container .news-right ul li .txt-time {
  font-family: PingFangSC-Medium;
  font-size: 12px;
  color: #ccc;
  text-align: left;
  margin-bottom: 0;
}
.news-wrapper .news-container.region-news-container .news-right ul li .pop-tips {
  display: none;
  position: absolute;
  left: -254px;
  top: 0;
  background-color: #fff;
  border: 1px solid #396;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  width: 254px;
}
.news-wrapper .news-container.region-news-container .news-right ul li .pop-tips:after {
  content: '';
  position: absolute;
  width: 36px;
  height: 34px;
  right: -36px;
  top: 0;
  background: url("../../images/sprite-icons.png") no-repeat;
  background-position: 0px -41px;
}
.news-wrapper .news-container.region-news-container .news-right ul li .pop-tips .txt {
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #666;
  text-align: left;
  padding: 14px;
  margin: 0;
}
.news-wrapper .news-container.region-news-container .news-right ul li:hover .pop-tips {
  display: block;
}
.news-wrapper .news-container.region-news-container .news-right .txt-more {
  text-align: right;
  padding: 0 40px;
}
.news-wrapper .news-container.region-news-container .news-right .txt-more .txt {
  display: inline-block;
  vertical-align: middle;
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #666;
  position: relative;
  padding-right: 15px;
}
.news-wrapper .news-container.region-news-container .news-right .txt-more .icon-arrow-right {
  content: '';
  position: absolute;
  background-image: url(../../images/sprite-icons.png);
  background-position: -37px -59px;
  width: 7px;
  height: 14px;
  right: 0;
  top: 50%;
  margin-top: -7px;
}
.chart-wrapper .chart-container {
  width: 1180px;
  margin: 0 auto;
}
.chart-wrapper .chart-container .nav {
  background-color: #fff;
  margin-bottom: 9px;
}
.chart-wrapper .chart-container .nav ul:after {
  content: '';
  display: table;
  clear: both;
  width: 100%;
  height: 0;
}
.chart-wrapper .chart-container .nav ul li {
  float: left;
  text-align: center;
  position: relative;
}
.chart-wrapper .chart-container .nav ul li a {
  display: block;
  font-family: PingFangSC-Regular;
  font-size: 18px;
  color: #333;
  padding: 10px 21px;
}
.chart-wrapper .chart-container .nav ul li:hover a,
.chart-wrapper .chart-container .nav ul li.active a {
  color: #396;
}
.chart-wrapper .chart-container .nav ul li:hover:after,
.chart-wrapper .chart-container .nav ul li.active:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #396;
  left: 0;
  bottom: 0;
}
.chart-wrapper .chart-container .chart {
  width: 100%;
  height: 382px;
  margin-bottom: 30px;
  position: relative;
}
.chart-wrapper .chart-container .chart .chart-image {
  background-color: #fff;
  padding-bottom: 20px;
}
.chart-wrapper .chart-container .chart .chart-image ul {
  font-size: 0;
  text-align: center;
}
.chart-wrapper .chart-container .chart .chart-image ul li {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  width: 372px;
  margin: 0 10px;
}
.chart-wrapper .chart-container .chart .chart-image ul li:before {
  content: attr(data-before);
  display: block;
  text-align: center;
  font: 14px/30px 'PingFangSC-Regular';
  color: #666;
  padding: 10px 0;
}
.chart-wrapper .chart-container .chart .chart-image ul li img {
  width: 372px;
}
.chart-wrapper .chart-container .chart .chart-login {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.chart-wrapper .chart-container .chart .chart-login .chart-login__txt {
  position: absolute;
  width: 283px;
  height: 59px;
  left: 50%;
  top: 50%;
  margin-top: -30px;
  margin-left: -142px;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
}
.chart-wrapper .chart-container .chart .chart-login .chart-login__txt .txt-login,
.chart-wrapper .chart-container .chart .chart-login .chart-login__txt .txt-view {
  display: inline-block;
  vertical-align: middle;
  font: 20px/60px 'Microsoft YaHei';
  position: relative;
  z-index: 1;
}
.chart-wrapper .chart-container .chart .chart-login .chart-login__txt .txt-login {
  color: #0080ff;
}
.chart-wrapper .chart-container .chart .chart-login .chart-login__txt .txt-view {
  color: #666;
}
