body {
  margin: 0;
}
img {
  border: 0 none;
  height: auto;
  max-width: 960%;
  vertical-align: middle;
}
.qgjx-mobile-container {
  width: auto;
  padding: 0px 10px;
}
.qgjx-mobile-container figure {
  margin: 0;
  padding: 0;
  text-align: center;
}
.qgjx-mobile-container figure img {
  max-width: 100%;
}
.qgjx-mobile-container article {
  padding: 0px,10px,0px,10px;
}

.qgjx-mobile-container article p {
  /*text-indent: 31px;*/
  font: 14px "Microsoft YaHei", Arial, Helvetica, sans-serif, simsun;
  color: #444;
  line-height: 30px;
}
article img {display: block; max-width: 100%; margin: 0 auto;}
article video {
  display: block;
  width: 100% !important;
  height: auto !important;
  margin: 0 auto;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}
iframe {
  width: 100% !important;
}