/* background-color start */
/* background-color end */
/* border-color start */
/* border-color end */
/* button start */
/* button end */
/* color start */
/* color end */
/* font-family start */
/* font-family end */
.ClassTimetable {
  width: auto;
  margin: 0 auto;
  font-size: 14px;
}
.ClassTimetable > .row {
  min-height: 956px;
}
.ClassTimetable .ct--main-wrapper {
  padding: 0;
  background-color: #eff3f8;
}
.ClassTimetable .ct--main-wrapper .ct--main__content {
  overflow: hidden;
  margin: 0 15px 10px;
}
.ClassTimetable .ct--main-wrapper .ct--main__content > div > .select-group {
  margin-bottom: 15px;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .choose-date {
  margin-bottom: 15px;
  background-color: #fff;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .choose-date:before {
  content: attr(data-before);
  display: block;
  font-size: 14px;
  color: #333;
  padding: 10px 15px;
  background-color: #ddecff;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .choose-date .form-row {
  margin: 10px 15px;
  position: relative;
  white-space: nowrap;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .choose-date .form-row:before {
  content: attr(data-before);
  font-size: 14px;
  color: #666;
  width: 70px;
  line-height: 30px;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .choose-date .form-row ._input-date-group {
  display: flex;
  line-height: 30px;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .choose-date .btn-group {
  text-align: center;
  display: block;
  padding-bottom: 10px;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .choose-date .btn-group .btn-confirm {
  display: inline-block;
  margin: 0 10px;
  width: 100px;
  text-align: center;
  border-radius: 0;
  padding: 5px 12px;
  color: #fff;
  border: 1px solid #65a9ff;
  background-color: #65a9ff;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .choose-date .btn-group .btn-confirm:hover {
  text-decoration: none;
  color: #65a9ff;
  background-color: #fff;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__basic,
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__appraise,
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__score,
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__suggest {
  border-radius: 0;
  border-color: transparent;
  margin-bottom: 15px;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__basic .card-header,
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__appraise .card-header,
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__score .card-header,
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__suggest .card-header {
  margin: -1px;
  padding: 0;
  border-radius: 0;
  border-bottom: 0;
  background-color: #ddecff;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__basic .card-header h5,
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__appraise .card-header h5,
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__score .card-header h5,
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__suggest .card-header h5 {
  height: 48px;
  line-height: 44px;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__basic .card-header h5 .btn-link,
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__appraise .card-header h5 .btn-link,
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__score .card-header h5 .btn-link,
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__suggest .card-header h5 .btn-link {
  width: 100%;
  text-align: left;
  font-size: 14px;
  color: #666;
  padding: 11px 10px;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__basic .card-header h5 .btn-link:hover,
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__appraise .card-header h5 .btn-link:hover,
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__score .card-header h5 .btn-link:hover,
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__suggest .card-header h5 .btn-link:hover {
  text-decoration: none;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__basic .card-header h5 .btn-link .icon,
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__appraise .card-header h5 .btn-link .icon,
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__score .card-header h5 .btn-link .icon,
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__suggest .card-header h5 .btn-link .icon {
  float: right;
  font-size: 12px;
  color: #86b0e3;
  margin: 4px 0;
  -webkit-transition: all 0.2s ease-in 0.1s;
  -moz-transition: all 0.2s ease-in 0.1s;
  -ms-transition: all 0.2s ease-in 0.1s;
  -o-transition: all 0.2s ease-in 0.1s;
  transition: all 0.2s ease-in 0.1s;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
}
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__basic .card-header:hover h5 .btn-link .icon,
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__appraise .card-header:hover h5 .btn-link .icon,
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__score .card-header:hover h5 .btn-link .icon,
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__suggest .card-header:hover h5 .btn-link .icon {
  -webkit-transform: rotate(180deg) scale(0.5);
  -moz-transform: rotate(180deg) scale(0.5);
  -ms-transform: rotate(180deg) scale(0.5);
  -o-transform: rotate(180deg) scale(0.5);
  transform: rotate(180deg) scale(0.5);
}
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__basic .card-body .ct--main__basic_item {
  text-align: left;
  min-height: 30px;
  line-height: 30px;
  color: #333;
  font-size: 14px;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__basic .card-body .ct--main__basic_item:before {
  content: attr(data-before);
  display: inline-block;
  width: 200px;
  text-align: right;
  color: #333;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__appraise .card-body .table-group .table {
  position: relative;
  margin-bottom: 0;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__appraise .card-body .table-group .table:before {
  content: attr(data-before);
  position: absolute;
  width: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  left: 0;
  top: 0;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__appraise .card-body .table-group .table.table-teacher:before {
  background-color: #65a9ff;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__appraise .card-body .table-group .table.table-student:before {
  background-color: #fb6767;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__appraise .card-body .table-group .table tbody tr th {
  text-align: right;
  width: 40%;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__appraise .card-body .table-group .table tbody tr th span {
  line-height: 30px;
  font-weight: lighter;
  font-size: 14px;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__appraise .card-body .table-group .table tbody tr td {
  vertical-align: middle;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__appraise .card-body .table-group .btn-group {
  text-align: center;
  display: block;
  margin-bottom: 10px;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__appraise .card-body .table-group .btn-group .btn-save,
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__appraise .card-body .table-group .btn-group .btn-submit {
  display: inline-block;
  margin: 0 10px;
  width: 100px;
  text-align: center;
  border-radius: 0;
  padding: 5px 12px;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__appraise .card-body .table-group .btn-group .btn-save {
  color: #fff;
  border-color: #65a9ff;
  background-color: #65a9ff;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__appraise .card-body .table-group .btn-group .btn-submit {
  color: #fff;
  border-color: #fb6767;
  background-color: #fb6767;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__appraise .card-body .txt-group {
  margin: 10px 0;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__appraise .card-body .txt-group:before {
  content: attr(data-before);
  display: block;
  padding: 10px 15px;
  background-color: #eff3f8;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__appraise .card-body .txt-group p {
  margin: 10px 0;
  padding: 0 35px;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__suggest .form-group .form-group__item {
  position: relative;
  margin-bottom: 15px;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__suggest .form-group .form-group__item:before,
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__suggest .form-group .form-group__item .form-control {
  white-space: nowrap;
  display: inline-block;
  vertical-align: top;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__suggest .form-group .form-group__item:before {
  content: attr(data-before);
  width: 150px;
  text-align: right;
  font-size: 14px;
  line-height: 30px;
  color: #666;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__suggest .form-group .form-group__item .form-control {
  width: 70%;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__suggest .form-group textarea {
  font-size: 14px;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__suggest .btn-add {
  position: relative;
  overflow: hidden;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__suggest .btn-add .icon-add,
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__suggest .btn-add .path1,
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__suggest .btn-add .path2 {
  font-style: normal;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__suggest .btn-add .icon-add {
  margin-right: 5px;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .ct--main__suggest .btn-add .upload-file {
  cursor: pointer;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .basic-progress .form-group .form-group__item {
  position: relative;
  margin-bottom: 15px;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .basic-progress .form-group .form-group__item:before,
.ClassTimetable .ct--main-wrapper .ct--main__content .basic-progress .form-group .form-group__item .form-control {
  white-space: nowrap;
  display: inline-block;
  vertical-align: top;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .basic-progress .form-group .form-group__item:before {
  content: attr(data-before);
  width: 150px;
  text-align: right;
  font-size: 14px;
  line-height: 30px;
  color: #666;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .basic-progress .form-group .form-group__item .form-control {
  width: 70%;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .basic-progress .select-group,
.ClassTimetable .ct--main-wrapper .ct--main__content .basic-progress ._input-group,
.ClassTimetable .ct--main-wrapper .ct--main__content .basic-progress .radio-group,
.ClassTimetable .ct--main-wrapper .ct--main__content .basic-progress .checkbox-group {
  padding: 0 15px;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .basic-progress .radio-group,
.ClassTimetable .ct--main-wrapper .ct--main__content .basic-progress .checkbox-group {
  margin: 0 5px 15px;
  position: relative;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .basic-progress .radio-group .form-row,
.ClassTimetable .ct--main-wrapper .ct--main__content .basic-progress .checkbox-group .form-row {
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 138px;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .basic-progress .radio-group .form-row:before,
.ClassTimetable .ct--main-wrapper .ct--main__content .basic-progress .checkbox-group .form-row:before {
  content: attr(data-before);
  position: absolute;
  min-width: 155px;
  padding-right: 10px;
  text-align: right;
  color: #666;
  left: 0;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .basic-progress ._input-group .form-control {
  font-size: 14px;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .course-appraise .table-group {
  padding: 0 15px;
  margin-bottom: 15px;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .course-appraise .table-group .table {
  position: relative;
  margin-bottom: 0;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .course-appraise .table-group .table:before {
  content: attr(data-before);
  position: absolute;
  width: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  left: 0;
  top: 0;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .course-appraise .table-group .table.table-teacher:before {
  background-color: #65a9ff;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .course-appraise .table-group .table.table-student:before {
  background-color: #fb6767;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .course-appraise .table-group .table tbody tr th {
  text-align: right;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .course-appraise .table-group .table tbody tr th span {
  line-height: 30px;
  font-weight: lighter;
  font-size: 14px;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .course-appraise .form-group .form-group__item {
  position: relative;
  margin-bottom: 15px;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .course-appraise .form-group .form-group__item:before,
.ClassTimetable .ct--main-wrapper .ct--main__content .course-appraise .form-group .form-group__item .form-control {
  white-space: nowrap;
  display: inline-block;
  vertical-align: top;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .course-appraise .form-group .form-group__item:before {
  content: attr(data-before);
  width: 150px;
  text-align: right;
  font-size: 14px;
  line-height: 30px;
  color: #666;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .course-appraise .form-group .form-group__item .form-control {
  width: 70%;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .course-appraise .form-group textarea {
  font-size: 14px;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .score-table table {
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #ddd;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .score-table table tr {
  border-top: 1px solid #ddd;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .score-table table tr th {
  background-color: #eff3f8;
  vertical-align: middle;
  border: none;
  text-align: center;
  padding: 10px 15px;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .score-table table tr td {
  vertical-align: middle;
  padding: 0;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .score-table table tr td:nth-child(odd) {
  background-color: #fff;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .score-table table tr td:nth-child(even) {
  background-color: #f5f5f5;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .score-table table tr td span {
  padding: 5px 10px;
  display: block;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .score-table table tr td p {
  margin: 0;
  padding: 5px 10px;
  border-top: 1px solid #ddd;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .score-table table tr td p:first-child {
  border-top: none;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .score-table table tr td .form-control-group {
  text-align: center;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .score-table table tr td .form-control-group .form-control {
  width: 100px;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .score-table table tr td:nth-child(4) span {
  border-top: 1px solid #ddd;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .score-table table tr td:nth-child(4) span:first-child {
  border-top: 0;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .btn-group {
  padding: 0 15px;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .btn-group .btn-save,
.ClassTimetable .ct--main-wrapper .ct--main__content .btn-group .btn-submit {
  display: inline-block;
  margin: 0 10px;
  border-radius: 0;
  width: 100px;
  padding: 5px 12px;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .btn-group .btn-save {
  color: #fff;
  border-color: #65a9ff;
  background-color: #65a9ff;
}
.ClassTimetable .ct--main-wrapper .ct--main__content .btn-group .btn-submit {
  color: #fff;
  border-color: #fb6767;
  background-color: #fb6767;
}
