/* background-color start */
/* background-color end */
/* border-color start */
/* border-color end */
/* button start */
/* button end */
/* color start */
/* color end */
/* font-family start */
/* font-family end */
.ServicePlan {
  width: auto;
  margin: 0 auto;
  font-size: 14px;
}
.ServicePlan > .row {
  min-height: 956px;
}
.ServicePlan .sp--main-wrapper {
  padding: 0;
  background-color: #eff3f8;
}
.ServicePlan .sp--main-wrapper .sp--main__content {
  margin: 0 15px 10px;
}
.ServicePlan .sp--main-wrapper .sp--main__content .choose-date {
  margin-bottom: 15px;
  background-color: #fff;
}
.ServicePlan .sp--main-wrapper .sp--main__content .choose-date:before {
  content: attr(data-before);
  display: block;
  font-size: 14px;
  color: #333;
  padding: 10px 15px;
  background-color: #ddecff;
}
.ServicePlan .sp--main-wrapper .sp--main__content .choose-date .form-row {
  margin: 10px 15px;
  position: relative;
  white-space: nowrap;
}
.ServicePlan .sp--main-wrapper .sp--main__content .choose-date .form-row:before {
  content: attr(data-before);
  font-size: 14px;
  color: #666;
  width: 70px;
  line-height: 30px;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
}
.ServicePlan .sp--main-wrapper .sp--main__content .choose-date .form-row ._input-date-group {
  display: flex;
  line-height: 30px;
}
.ServicePlan .sp--main-wrapper .sp--main__content .choose-date .btn-group {
  text-align: center;
  display: block;
  padding-bottom: 10px;
}
.ServicePlan .sp--main-wrapper .sp--main__content .choose-date .btn-group .btn-confirm {
  display: inline-block;
  margin: 0 10px;
  width: 100px;
  text-align: center;
  border-radius: 0;
  padding: 5px 12px;
  color: #fff;
  border: 1px solid #65a9ff;
  background-color: #65a9ff;
}
.ServicePlan .sp--main-wrapper .sp--main__content .choose-date .btn-group .btn-confirm:hover {
  text-decoration: none;
  color: #65a9ff;
  background-color: #fff;
}
.ServicePlan .sp--main-wrapper .sp--main__content .service-plan {
  margin-bottom: 15px;
  background-color: #fff;
}
.ServicePlan .sp--main-wrapper .sp--main__content .service-plan:before {
  content: attr(data-before);
  display: block;
  font-size: 14px;
  color: #333;
  padding: 10px 15px;
  background-color: #ddecff;
}
.ServicePlan .sp--main-wrapper .sp--main__content .service-plan .sp_content {
  padding: 10px 15px;
}
.ServicePlan .sp--main-wrapper .sp--main__content .service-plan .sp_content .title,
.ServicePlan .sp--main-wrapper .sp--main__content .service-plan .sp_content .content {
  font-size: 14px;
}
.ServicePlan .sp--main-wrapper .sp--main__content .service-plan .sp_content .title {
  color: #65a9ff;
  padding: 10px 0;
}
.ServicePlan .sp--main-wrapper .sp--main__content .service-plan .sp_content .content {
  color: #666;
}
.ServicePlan .sp--main-wrapper .sp--main__content .service-plan .sp_content .link-group .btn-download {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #f00;
}
