.news-wrapper .news-container.news-news-container {
  width: 1180px;
  margin: 0 auto 30px;
  background-color: #fff;
}
.news-wrapper .news-container.news-news-container .news-module {
  width: 778px;
  margin: 0 auto;
  padding: 75px 0;
}
.news-wrapper .news-container.news-news-container .news-module .txt-date {
  font-family: PingFangSC-Medium;
  font-size: 20px;
  color: #333;
  text-align: left;
  border-left: 3px solid #396;
  margin-bottom: 30px;
  padding: 0 25px;
}
.news-wrapper .news-container.news-news-container .news-module .news-module__item {
  border: 1px solid #396;
  margin-bottom: 20px;
  padding: 40px 35px;
}
.news-wrapper .news-container.news-news-container .news-module .news-module__item .txt-title {
  font-family: PingFangSC-Medium;
  font-size: 18px;
  color: #333;
}
.news-wrapper .news-container.news-news-container .news-module .news-module__item .txt-time {
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #666;
}
.news-wrapper .news-container.news-news-container .news-module .news-module__item .txt-content .txt {
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color: #666;
  line-height: 28px;
}
