<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/testSystemTeacher.css">
	<!--[if lt IE 9]>
       <script src="js/html5.js"></script>
       <script src="js/respond.js"></script>
    <![endif]-->
</head>
<body>
	<div class="header clear">
		<span>LOGO</span>
		<div class="fn-r">
			<span class="login-username ">早上好，王小二老师！</span>
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" 
						data-toggle="dropdown">
					更多操作 <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#">阅卷</a></li>
					<li><a href="#">学生页面</a></li>
					<li><a href="#">退出登录</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="wrapper">
		<div class="part-item">
			<div class="part-item-con">
				<div class="proctor-box data-bg-de6 directions-type bg-5a5" data-type="大一三班监考">
					<h1 class="proctor-detail">
						共8人，答题中5人，未参加考试2人、交卷1人
					</h1>
					<ul class="proctor-list clear mgt-20">
						<li>
							<span class="proctor-head"><img src=""></span>
							<div class="testing proctor-con">
								<p class="proctor-username">丁一</p>
								<p class="proctor-state">考试中</p>
								<p class="proctor-other">剩余时间：134：34</p>
							</div>
						</li>
						<li>
							<span class="proctor-head"><img src=""></span>
							<div class="testing proctor-con">
								<p class="proctor-username">于二</p>
								<p class="proctor-state">考试中</p>
								<p class="proctor-other">剩余时间：134：34</p>
							</div>
						</li>
						<li>
							<span class="proctor-head"><img src=""></span>
							<div class="testing proctor-con">
								<p class="proctor-username">张三</p>
								<p class="proctor-state">考试中</p>
								<p class="proctor-other">剩余时间：134：34</p>
							</div>
						</li>
						<li>
							<span class="proctor-head"><img src=""></span>
							<div class="untest proctor-con">
								<p class="proctor-username">呜呜</p>
								<p class="proctor-state">未开始考试</p>
								<p class="proctor-other">迟到时间：134：34</p>
							</div>
						</li>
						<li>
							<span class="proctor-head"><img src=""></span>
							<div class="testing proctor-con">
								<p class="proctor-username">张一</p>
								<p class="proctor-state">考试中</p>
								<p class="proctor-other">剩余时间：134：34</p>
							</div>
						</li>
						<li>
							<span class="proctor-head"><img src=""></span>
							<div class="finished proctor-con">
								<p class="proctor-username">张一</p>
								<p class="proctor-state">已交卷</p>
								<p class="proctor-other">得分：60/80</p>
							</div>
						</li>
						<li>
							<span class="proctor-head"><img src=""></span>
							<div class="testing proctor-con">
								<p class="proctor-username">张一</p>
								<p class="proctor-state">考试中</p>
								<p class="proctor-other">剩余时间：134：34</p>
							</div>
						</li>
					</ul>
				</div>	
			</div>
		</div>
	</div>
	<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>