<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta charset="UTF-8">
	<title>考试详情  班级</title>
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/testSystem.css">
</head>
<body>
	<div class="wrapper">
		<div class="part-item">
			<h1 class="part-tit">part I writing</h1>
			<div class="part-item-con">
				<div class="part-directions" data-dir="directions">
					For this part, you are allowed 30 minutes to write an essay. Suppose you have two options upon graduation: one is to find a job somewhere and the other to start a business of your own. You are to make a decision. Write an essay to explain the reasons for your decision. You should write at least 120 words but no more than 180 words.
				</div>
				<div class="write-box mgb-30">
					<p>
						 Spring Festival is the most important festival in China .It’s to celebrate the lunar calendar ‘s new year .In the evening before the Spring Festival ,families get together and have a big meal .In many places people like to set off 
					</p>
					<p>
						firecrackers .Dumplings are the most traditional food .Children like the festival very much ,because they can have delicious food and wear new clothes .They can also get some money from their parents. This money is given to children for good luck . People put New Year scrolls on the wall for good fortune . 
					</p>
					<p>
						The Spring Festival lasts about 15 days long .People visit relatives and friends with the words “Have all your wishes ”. People enjoy the Spring Festival ,during this time they can have a good rest . 
					</p>
					<span class="write-word-num">（已经输入9个单词）</span>
				</div>
				<h6 class="get-score">得分：35分（满分40分）</h6>
				<div class="write-assess" data-arr="评语：">
					作文写的不错，词汇量有待于修改<br/>语法用的稍微有点问题
				</div>
			</div>
		</div>
		<div class="part-item">
			<h1 class="part-tit">Part II Listening Comprehension</h1>
			<h2 class="part-section" data-section="section A"></h2>
			<div class="part-item-con">
				<div class="part-directions" data-dir="directions">
					Directions: In this section, you will hear three news reports. At the end of each news report, you will hear two or three questions. Both the news report and the questions will be spoken only once. After you hear a question, you must choose the best answer from the four choices marked A., B., C. and D.. Then mark the corresponding letter on Answer Sheet 1 with a single line through the centre.
				</div>
				<div class="choose-num-box data-arr">
					<h6 class="questions-num">Questions 1 to 2 are based on the passage you have just heard. </h6>
					<div class="choose-num-item" data-arr="1">
						<!-- <span class="choose-question-num">1</span> -->
						<ul>
							<li>
								<span>A.younger people are replacing the elderly </span> </li>
							<li >
								<span class="choose-right">B.well-educated people tend to work longer </span>  </li>
							<li>
								<span>C.unemployment rates are rising year after year </span> 
							</li>
							<li>
								<span>D.people with no college degree do not easily find work  </span>  
							</li>
						</ul>
					</div>
					<div class="choose-num-item" data-arr="2">
						<ul>
							<li>
								<span>A. Longer life expectancies  </span> </li>
							<li >
								<span class="choose-right-tag">B. Profound changes in the workforce </span>   </li>
							<li >
								<span class="choose-error">C. rapid technological advance.  </span> 
							</li>
							<li>
								<span>D. A growing number of well-graduated.  </span>  
							</li>
						</ul>
					</div>
					<h6 class="questions-num">Questions 3 to 4 are based on the passage you have just heard. </h6>
					<div class="choose-num-item " data-arr="3" >
						<ul>
							<li >
								<span class="choose-right">A.younger people are replacing the elderly </span>  </li>
							<li >
								<span>B.well-educated people tend to work longer </span>  </li>
							<li>
								<span>C.unemployment rates are rising year after year  </span> 
							</li>
							<li>
								<span>D.people with no college degree do not easily find work </span>  
							</li>
						</ul>
					</div>
					<div class="choose-num-item" data-arr="4">
						<ul>
							<li>
								<span>A. Longer life expectancies  </span>  </li>
							<li >
								<span class="choose-right">B. Profound changes in the workforce </span>  </li>
							<li >
								<span>C. rapid technological advance.   </span> 
							</li>
							<li>
								<span>D. A growing number of well-graduated. </span>  
							</li>
						</ul>
					</div>
				</div>
				<h6 class="get-score">平均得分34分</h6>
			</div>
		</div>
		<div class="part-item">
			<h1 class="part-tit">Part II Listening Comprehension&nbsp;[平均用时34分钟，平均得分34分]</h1>
			<h2 class="part-section" data-section="section A"></h2>
			<div class="part-item-con">
				<div class="part-directions" data-dir="directions">
					In this section,there is a passage with ten blanks.You are required to select one word for each blank from a list of choices given in a word bank following the passage.Read the passage through carefullu before making your choices. Each choice in the bank is identified by a letter.Please mark the corresponding letter for each item on Answer sheet 2 wirh a single line through the center. You may not use any of the words in the bank more than once.
				</div>
				<div class="banked-cloze-box">
					<h6 class="questions-num">Questions 36 to 45 are based on the passage you have just heard.  </h6>
					<div class="banked-cloze-con">
						It‘s our guilty pleasure: Watching TV is the most common everyday activity,after work and sleep, in many parts of the world.Americans view five hours of TV each day, and while we know that spending so much time sitting <span class="choose-error">36&nbsp;decade</span> <span class="choose-right-tag">determine</span>obesity(肥胖症) and other diseases, researchers have now quantified just how being a couch <span class="choose-right">37&nbsp;passlvely</span>potato can be.          
					</div>
					<ul class="banked-cloze-list clear">
						<li>conseme</li>
						<li>decade</li>
						<li>determine</li>
						<li>harmful </li>
						<li>effectIve</li>
						<li>outcomes</li>
						<li>decade</li>
						<li>determine</li>
						<li>harmful </li>
						<li>effectIve</li>
						<li>outcomes</li>
						<li>conseme</li>
						<li>decade</li>
						<li>determine</li>
						<li>harmful </li>
					</ul>
				</div>
				<h6 class="get-score">平均得分12分</h6>
			</div>
			<h2 class="part-section" data-section="section B"></h2>
			<div class="part-item-con">
				<div class="part-directions" data-dir="directions">
					In this section,you are going to read a passage with ten statements attavched to it. Each statement contains information given in one of the paragraphs. Identify the paragraph from which the information is derived. You may choose a paragraph more than once. Each paragraph is marked with a letter. Answer the question by marking the corresponding letter on Answer Sheet 2
				</div>
				<div >
					<h6 class="questions-num">Questions&nbsp;1&nbsp;to&nbsp;2 are&nbsp;based&nbsp;on&nbsp;the&nbsp;passage&nbsp;you&nbsp;have&nbsp;just&nbsp;heard.&nbsp;</h6>
					<div class="reading-com-box bg-f1f7 pag-20 mgb-30">
						<h1> Essay -granding Software Officers Professors a Break </h1>
						<ul class="reading-con-article data-arr">
							<li data-arr="[A]">
								Imagine taking a college exam, and instead of handing in a blue book and getting a grade from a professoer a few weeks later, clicking the “send” button when you are done and receiving a grade back instantly,your essay scored by a software program. And then, instead of being done with the exam, imagine that the system would immediately let you rewrite the test to try to improve your grade. <span class="choose-right">48</span>
							 </li>
							<li data-arr="[b]">
								Edx,the nonprofit enterprise founded by Harvard and the Massachusetts Institute of Thnology(MIT) to offer courses on the Internet,has just introduced such a system and will make its automated(自动的)software available free on the Web to any institutioons that wants to use it. The software uses artificial intelligence to grade student essays and short written answers, freeing professors for other tasks. <span class="choose-error">45</span><span class="choose-right-tag">47</span>
							</li>
							<li data-arr="[C]">
								The new service will bring the educational consortium(联盟)into a growing conflict over the role of the automation education. Altough automated grading systems for multiple-choice and true-false tests are now widespread, the use of artificial intelligence technology to grade essay answers has not yet provided widespread acceptance by educations and has many critics. <span class="choose-right">52</span>
							</li>
							<li data-arr="[D]">
								Anant Agarwal, an electrical engineer who is president of Edx, predicted that the instant grading software would be a useful teachingmated system is no matter for live teachers. One longtime critic, Les Perelman，has drawn national attention several times for putting together nonsense essays that have fooled software grading programs into giving high marks. He has also been highly critical of studies claiming that the software compares well to human grades. <span class="choose-right">47</span>
							</li>
						</ul>
					</div>
					<ul class="reading-con-list data-arr mgb-30">
						<li data-arr="46">
							Some professors in education are collecting signatures to voice their opposition to automated essay grading.  
						</li>
						<li data-arr="47">
							using software to grade students essay saves teachers time for other work. 
						</li>
						<li data-arr="48">
							the Hewlett contests aim at improving essay grading software.   
						</li>
						<li data-arr="49">
							Though the automated grading system is widely used in multiple-choice tests, automated essay grading is still criticized by many educators.   
						</li>
						<li data-arr="50">
							Some people don’t believe the software grading system can do as 
						</li>
						<li data-arr="51">
							Critics of automated essay scoring do not seem to know the true realities in leses famous university. 
						</li>
						<li data-arr="52">
							Critics argue many important aspects of effective writing cannot measured by computer rating programs. 
						</li>
						<li data-arr="53">
							As class size grows, most teachers are unable to give student valuable comments as to how to improve their writing. 
						</li>
					</ul>
				</div>
				<h6 class="get-score">得分：6分（满分8分）</h6>
			</div>
		</div>
		

	</div>
</body>
</html>