<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/testSystemTeacher.css">
	<!--[if lt IE 9]>
       <script src="js/html5.js"></script>
       <script src="js/respond.js"></script>
    <![endif]-->
</head>
<body>
	<div class="header clear">
		<span>LOGO</span>
		<div class="fn-r">
			<span class="login-username ">早上好，王小二老师！</span>
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" 
						data-toggle="dropdown">
					更多操作 <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#">阅卷</a></li>
					<li><a href="#">学生页面</a></li>
					<li><a href="#">退出登录</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="wrapper">
		<div class="part-item">
			<div class="part-item-con">
				<div class="exam-report-box data-bg-de6 directions-type  bg-ed" data-type="考试成绩">
					<div class="exam-report-average">
						<div class="ex-re-aver-tit">
							<span>平均得分45分</span>
							<span>平均答题时间96：34分钟</span>
						</div>
						<div class="ex-re-aver-con clear">
							<div class="aver-score-box">
								<ul>
									<li>
										<i class="great-score"></i>
										优秀人数5人
										<em>（62.5%）</em>
									</li>
									<li>
										<i class="just-pass"></i>
										刚及格人数1人
										<em>（12.5%）</em>
									</li>
									<li>
										<i class="fail-score"></i>
										未及格人数5人
										<em>（25%）</em>
									</li>
								</ul>
								<div class="aver-score high-pie"></div>	
							</div>
							<div class="aver-time-box">
								<ul>
									<li>
										<i class="part-one"></i>
										Part&nbsp;I&nbsp;30分钟
										<em>（32.5%）</em>
									</li>
									<li>
										<i class="part-two"></i>
										Part&nbsp;II&nbsp;30分钟
										<em>（30.5%）</em>
									</li>
									<li>
										<i class="part-three"></i>
										Part&nbsp;III&nbsp;30分钟
										<em>（37%）</em>
									</li>
								</ul>
								<div class="aver-time high-pie"></div>	
							</div>
							<div class="accuracy-box">
								<ul>
									<li>
										<i class="part-one"></i>
										Part&nbsp;I&nbsp;正确率60%
									</li>
									<li>
										<i class="part-two"></i>
										Part&nbsp;II&nbsp;正确率30%
									</li>
									<li>
										<i class="part-three"></i>
										Part&nbsp;III&nbsp;正确率60%
									</li>
								</ul>
								<ul class="accuracy-table">
									<li><span class="part-one" style="width:80%"></span></li>
									<li><span class="part-two" style="width:50%"></span></li>
									<li><span class="part-three" style="width:30%"></span></li>
								</ul>	
							</div>
							<a href="javascript:;" class="detail-btn fn-r">查看详情</a>
						</div>
					</div>
					<ul class="proctor-list clear mgt-20">
						<li>
							<span class="proctor-head"><img src=""></span>
							<div class="great-score proctor-con">
								<p class="proctor-username">丁一</p>
								<p class="proctor-state">90分</p>
								<p class="proctor-other">剩余时间：134：34</p>
							</div>
						</li>
						<li>
							<span class="proctor-head"><img src=""></span>
							<div class="great-score proctor-con">
								<p class="proctor-username">于二</p>
								<p class="proctor-state">89分</p>
								<p class="proctor-other">用时：134：34</p>
							</div>
						</li>
						<li>
							<span class="proctor-head"><img src=""></span>
							<div class="great-score proctor-con">
								<p class="proctor-username">王五</p>
								<p class="proctor-state">84分</p>
								<p class="proctor-other">用时：134：34</p>
							</div>
						</li>
						<li>
							<span class="proctor-head"><img src=""></span>
							<div class="fail-score proctor-con">
								<p class="proctor-username">呜呜</p>
								<p class="proctor-state">34分</p>
								<p class="proctor-other">用时：19：35</p>
							</div>
						</li>
						<li>
							<span class="proctor-head"><img src=""></span>
							<div class="great-score proctor-con">
								<p class="proctor-username">张一</p>
								<p class="proctor-state">87分</p>
								<p class="proctor-other">用时：19：35</p>
							</div>
						</li>
						<li>
							<span class="proctor-head"><img src=""></span>
							<div class="just-pass proctor-con">
								<p class="proctor-username">张一</p>
								<p class="proctor-state">69分</p>
								<p class="proctor-other">用时：19：35</p>
							</div>
						</li>
						<li>
							<span class="proctor-head"><img src=""></span>
							<div class="fail-score proctor-con">
								<p class="proctor-username">张一</p>
								<p class="proctor-state">59分</p>
								<p class="proctor-other">用时：19：35</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/highcharts.js"></script>
	<script type="text/javascript">
		$(function(){
		    $('.aver-score').highcharts({
		        chart: {
		            type:'pie'
		        },
		        title: {
		            text: ''
		        },
		        tooltip: {
		           	headerFormat: '{point.key}<br>',
		            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
		        },
		        colors:[ //设置扇形的背景色
		        	"#589cbb",
		        	"#de9a39",
		        	"#c45243"

		        ],
		        credits: {  
			        enabled: false 
			    },  
			    legend:{
			        enabled :false
			    },
			    exporting: { 
			        enabled:false
				},
		        plotOptions: {
		            pie: {
		                allowPointSelect: true,
		                slicedOffset: 10,
		                cursor: 'pointer',
		                dataLabels: {
		                    enabled: false,  
		                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
		                    style: {
		                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
		                    }
		                }
		            }
		        },
		        series: [{
		            name: '占比',
		            data: [
		                ['优秀人数',62.5],
		                ['刚及格人数',12.5],
		                ['未及格人数',25]
		            ]
		        }]
		    });
			$('.aver-time').highcharts({
		        chart: {
		           type:"pie"
		        },
		        title: {
		            text: ''
		        },
		        tooltip: {
		           	headerFormat: '{series.name}<br>',
		            pointFormat: '{point.name}: <b>{point.percentage:.1f}%</b>'
		        },
		        colors:[ //设置扇形的背景色
		        	"#df72d6",
		        	"#3faebe",
		        	"#98c097"

		        ],
		        credits: {  
			        enabled: false 
			    },  
			    legend:{
			        enabled :false
			    },
			    exporting: { 
			        enabled:false
				},
		        plotOptions: {
		            pie: {
		                allowPointSelect: true,
		                slicedOffset: 10,
		                cursor: 'pointer',
		                dataLabels: {
		                    enabled: false,
		                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
		                    style: {
		                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
		                    }
		                }
		            }
		        },
		        series: [{
		            name: '答题时间',
		            data: [
		                ['Part I',32.5],
		                ['Part II',30.5],
		                ['Part III',37]
		            ]
		        }]
		    });
		})
	</script>
</body>
</html>