<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/testSystem.css">
	<!--[if lt IE 9]>
       <script src="js/html5.js"></script>
       <script src="js/respond.js"></script>
    <![endif]-->
</head>
<body>
	<div class="header clear">
		<div class="fn-l">
			<span>Part II Listening Comprehension</span>
		</div>
		<div class="fn-r">
			<div class="timing-con">
				<div class="surplus-time">剩余时间：<i>17:00</i>	</div>
				<div class="count-time">总共时间：<i>25:00</i>	</div>
			</div>
		</div>
	</div>
	<div class="audio-play-icon"><i></i>录音播放中，请认真听题 </div>
	<div class="wrapper mgt-130">
		<div class="part-item">
			<div class="part-item-con">
				<div class="choose-num-box  data-arr">
					<h6 class="questions-num">
						Questions&nbsp;1&nbsp;to&nbsp;2 are&nbsp;based&nbsp;on&nbsp;the&nbsp;passage&nbsp;you&nbsp;have&nbsp;just&nbsp;heard.&nbsp;
					</h6>
					<div class="choose-num-item" data-arr="1">
						<ul>
							<li>
								<span class="on">A.younger&nbsp;people&nbsp;are&nbsp;replacing&nbsp;the&nbsp;elderly&nbsp;</span> 
							</li>
							<li>
								<span>B.well-educated&nbsp;people&nbsp;tend&nbsp;to&nbsp;work&nbsp;longer&nbsp;</span>  </li>
							<li>
								<span>C.unemployment&nbsp;rates&nbsp;are&nbsp;rising&nbsp;year&nbsp;after&nbsp;year </span> 
							</li>
							<li>
								<span>D.people&nbsp;with&nbsp;no&nbsp;college&nbsp;degree&nbsp;do&nbsp;not&nbsp;easily&nbsp;find&nbsp;work &nbsp;</span> &nbsp;
							</li>
						</ul>
					</div>
					<div class="choose-num-item" data-arr="2">
						<ul>
							<li>
								<span>A.younger&nbsp;people&nbsp;are&nbsp;replacing&nbsp;the&nbsp;elderly&nbsp;</span> 
							</li>
							<li>
								<span class="on">B.well-educated&nbsp;people&nbsp;tend&nbsp;to&nbsp;work&nbsp;longer&nbsp;</span>  </li>
							<li>
								<span>C.unemployment&nbsp;rates&nbsp;are&nbsp;rising&nbsp;year&nbsp;after&nbsp;year </span> 
							</li>
							<li>
								<span>D.people&nbsp;with&nbsp;no&nbsp;college&nbsp;degree&nbsp;do&nbsp;not&nbsp;easily&nbsp;find&nbsp;work &nbsp;</span> &nbsp;
							</li>
						</ul>
					</div>
					<h6 class="questions-num">
						Questions&nbsp;3&nbsp;to&nbsp;4 are&nbsp;based&nbsp;on&nbsp;the&nbsp;passage&nbsp;you&nbsp;have&nbsp;just&nbsp;heard.&nbsp;
					</h6>
					<div class="choose-num-item" data-arr="3">
						<ul>
							<li>
								<span>A.younger&nbsp;people&nbsp;are&nbsp;replacing&nbsp;the&nbsp;elderly&nbsp;</span> 
							</li>
							<li>
								<span class="on">B.well-educated&nbsp;people&nbsp;tend&nbsp;to&nbsp;work&nbsp;longer&nbsp;</span>  </li>
							<li>
								<span>C.unemployment&nbsp;rates&nbsp;are&nbsp;rising&nbsp;year&nbsp;after&nbsp;year </span> 
							</li>
							<li>
								<span>D.people&nbsp;with&nbsp;no&nbsp;college&nbsp;degree&nbsp;do&nbsp;not&nbsp;easily&nbsp;find&nbsp;work &nbsp;</span> &nbsp;
							</li>
						</ul>
					</div>
					<div class="choose-num-item" data-arr="4">
						<ul>
							<li>
								<span>A.younger&nbsp;people&nbsp;are&nbsp;replacing&nbsp;the&nbsp;elderly&nbsp;</span> 
							</li>
							<li>
								<span>B.well-educated&nbsp;people&nbsp;tend&nbsp;to&nbsp;work&nbsp;longer&nbsp;</span>  </li>
							<li>
								<span>C.unemployment&nbsp;rates&nbsp;are&nbsp;rising&nbsp;year&nbsp;after&nbsp;year </span> 
							</li>
							<li>
								<span class="on">D.people&nbsp;with&nbsp;no&nbsp;college&nbsp;degree&nbsp;do&nbsp;not&nbsp;easily&nbsp;find&nbsp;work &nbsp;</span> &nbsp;
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/testSystem.js"></script>
</body>
</html>