<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/testSystemTeacher.css">
	<!--[if lt IE 9]>
       <script src="js/html5.js"></script>
       <script src="js/respond.js"></script>
    <![endif]-->
</head>
<body>
	<div class="header clear">
		<span>LOGO</span>
		<div class="fn-r">
			<span class="login-username ">早上好，王小二老师！</span>
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" 
						data-toggle="dropdown">
					更多操作 <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#">阅卷</a></li>
					<li><a href="#">学生页面</a></li>
					<li><a href="#">退出登录</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="wrapper">
		<div class="part-item">
			<div class="part-item-con bg-ed">
				<div class="part-directions directions-type pag-l-115" data-dir="directions" data-type="阅卷">
					For this part, you are allowed 30 minutes to write an essay. Suppose you have two options upon graduation: one is to find a job somewhere and the other to start a business of your own. You are to make a decision. Write an essay to explain the reasons for your decision. You should write at least 120 words but no more than 180 words.
				</div>
				<div class="pag-20 clear">
					<div class="write-box mgb-30">
						<p>
							 Spring Festival is the most important festival in China .It’s to celebrate the lunar calendar ‘s new year .In the evening before the Spring Festival ,families get together and have a big meal .In many places people like to set off 
						</p>
						<p>
							firecrackers .Dumplings are the most traditional food .Children like the festival very much ,because they can have delicious food and wear new clothes .They can also get some money from their parents. This money is given to children for good luck . People put New Year scrolls on the wall for good fortune . 
						</p>
						<p>
							The Spring Festival lasts about 15 days long .People visit relatives and friends with the words “Have all your wishes ”. People enjoy the Spring Festival ,during this time they can have a good rest . 
						</p>
						<span class="write-word-num">（已经输入9个单词）</span>
					</div>
					<div class=" write-score-assess">
						<p>
							<input type="text" class="hide-ele"> 
							<span class="show-ele">36</span>
							分（总分40分）</p>
						<p>
							<input type="text" class="hide-ele w-per85">
							<span class="show-ele">语法写的不错</span>
							评语（可不填）</p>
					</div>
					<div class="write-btn text-center">
						<button class="btn change-btn">修改</button>
						<button class="btn sub-btn bg-4ba">提交</button>
					</div>
					<p class="text-center review-count">part Ⅰ 「写作」当前复审第28人（共40人）
</p>
					
				</div>
				
			</div>
		</div>
	</div>
	<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>