<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/testSystemTeacher.css">
	<!--[if lt IE 9]>
       <script src="js/html5.js"></script>
       <script src="js/respond.js"></script>
    <![endif]-->
</head>
<body>
	<div class="header clear">
		<span>LOGO</span>
		<div class="fn-r">
			<span class="login-username ">早上好，王小二老师！</span>
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" 
						data-toggle="dropdown">
					更多操作 <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#">阅卷</a></li>
					<li><a href="#">学生页面</a></li>
					<li><a href="#">退出登录</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="wrapper">
		<div class="part-item-con ">
			<div class="review-paper-list bg-ed directions-type" data-type="阅卷">
				<div class="review-paper-item">
					<h1 class="clear review-paper-item-tit">
						四级模拟考试
						<span class="fn-r">2016-10-23</span>
					</h1>
					<div class="review-paper-item-con">
						<div class="review-paper-item-l col-fe9 text-center">未批阅完成</div>
						<ul class="review-paper-item-c">
							<li >
								<div class="col-fe9">Part<i>I</i>「写作」已批阅28人（共40人）</div>
								<button class="bg-fe9">批阅此部分</button>
							</li>
							<li >
								<div class="col-4ba">Part<i>I</i>「写作」已批阅28人（共40人）</div>
								<button class="bg-4ba">查看批阅结果</button>
							</li>
						</ul>
						<div class="review-paper-item-r text-center ">
							<span class="col-fe9 ">完全批阅完成28人（共四十人）</span>
							<button class="bg-fe9">按人员批阅</button>
						</div>
					</div>
				</div>
				<div class="review-paper-item">
					<h1 class="clear review-paper-item-tit">
						四级模拟考试
						<span class="fn-r">2016-10-23</span>
					</h1>
					<div class="review-paper-item-con">
						<div class="review-paper-item-l col-ec5 text-center">未开始批阅</div>
						<ul class="review-paper-item-c">
							<li >
								<div class="col-ec5">Part<i>I</i>「写作」已批阅0人（共40人）</div>
								<button class="bg-ec5">批阅此部分</button>
							</li>
							<li >
								<div class="col-ec5">Part<i>I</i>「写作」已批阅0人（共40人）</div>
								<button class="bg-ec5">批阅此部分</button>
							</li>
						</ul>
						<div class="review-paper-item-r text-center ">
							<span class="col-ec5 ">完全批阅完成0人（共四十人）</span>
							<button class="bg-ec5">按人员批阅</button>
						</div>
					</div>
				</div><div class="review-paper-item">
					<h1 class="clear review-paper-item-tit">
						期中考试
						<span class="fn-r">2016-10-23</span>
					</h1>
					<div class="review-paper-item-con">
						<div class="review-paper-item-l col-4ba text-center">已批阅完成</div>
						<ul class="review-paper-item-c">
							<li >
								<div class="col-4ba">Part<i>I</i>「写作」已批阅完成（共40人）</div>
								<button class="bg-4ba">复审</button>
							</li>
							<li >
								<div class="col-4ba">Part<i>I</i>「翻译」已批阅完成（共40人）</div>
								<button class="bg-4ba">复审</button>
							</li>
						</ul>
						<div class="review-paper-item-r text-center ">
							<span class="col-4ba ">完全批阅完成28人（共四十人）</span>
							<button class="bg-4ba">复审</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>